[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mopidy = "*"
pykka = "*"

[dev-packages]
cookiecutter = "*"
pytest = "*"
"flake8" = "*"
tox = "*"

[requires]
python_version = "2.7"
